<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<properties resource="com/cal/db/db.properties"></properties>
	
	<typeAliases>
		<typeAlias type="com.cal.dto.InbodyDto" alias="InbodyDto"/>
		<typeAlias type="com.cal.dto.CalorieDto" alias="CalorieDto"/>
		<typeAlias type="com.cal.dto.DiaryDto" alias="DiaryDto"/>
		<typeAlias type="com.cal.dto.LoginBoardDto" alias="LoginBoardDto"/>
	</typeAliases>
	
	<environments default="development">
   	 <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
  	 </environment>
   </environments>
   
   <mappers>
   	<mapper resource="com/cal/db/mapper.xml"></mapper>
   </mappers>
</configuration>
